{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }}
    Question
{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>{{ question }}</h1>

    <div>
        <h2>Il y a {{ answers|length }} réponses<h2>
        <ul>
            {% for answer in answers %}
                <li>{{ answer }}
                    <div class="col float-end js-vote">
                        <button class="badge bg-success js-vote-up" data-direction="up">vote up</button>
                        <button class="badge bg-danger js-vote-down" data-direction="down">vote down</button>
                        <span class="badge bg-secondary mx-3 js-vote-total">6</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/question_show.js') }}"></script>
{% endblock %}